<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105813324547-upk6427rl6n04c8b10eol3l3g77ektki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105813324547-upk6427rl6n04c8b10eol3l3g77ektki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105813324547-0aoht8sr5u052out4efl2pnb5tid0idc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuc5q2UyvotvNUmVek3e_o9KhpCt2chdI</string>
	<key>GCM_SENDER_ID</key>
	<string>105813324547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eBrandstepOut.stepOut</string>
	<key>PROJECT_ID</key>
	<string>stepOut-46646</string>
	<key>STORAGE_BUCKET</key>
	<string>stepOut-46646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105813324547:ios:5e5ceac54f7531cb90af36</string>
</dict>
</plist>